.home{
    size: 80%;
    margin: 2% 3% 3% 3%;
    width: 95%;
    /* 임시 / temporary */
    background-color: rgb(235, 235, 235);
}

.data-list{
    display: flex;
    margin: 2% 3% 3% 3%;
}

.data-item{
    margin-left: 10px;
}

.data-item h2{
    color: rgb(97, 97, 97);
}

.data-item p{
    color: rgb(255, 30, 0);
}