.broadcast{
  width: 100%;
  display: flex; 
  border: solid;
}
.video_container{
  width: 80%;
}
/* Broadcast.css */

.chat_container {
  width: 300px; /* Set fixed width */
  height: 90vh; /* Set fixed height */
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
}

.chat_messages {
  flex: 1;
  overflow-y: auto; /* Make messages container scrollable */
  margin-bottom: 10px;
}

.chat_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_input input {
  width: 80%;
  padding: 5px;
}

.chat_input button {
  padding: 5px 10px;
  cursor: pointer;
}